.componentList {
  :global {
    .ant-card-head {
      background: #d0dfe6;
    }

    .ant-card-bordered {
      border-color: #d0dfe6;
    }
  }

  .desc {
    margin-bottom: 16px;
    color: #34f;
  }

  .demoWrapper {
    padding: 16px;
    border: 1px dashed #ddd;
  }
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  font-size: 24px;
  background-color: #d89ad1;
}

.DemoSuperUpload {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 25%;
  }
}
